{% if navbar_footer %}
  <ul>
    <li>
      <a href="{{site.url}}">
        {{__('Home', 'md-starter')}}
      </a>
    </li>

    {% for item in navbar_footer %}
      <li>
        <a href="{{item.link}}">
          {{item.title}}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}