# macOS stuff
.DS_Store

# Docker
db

# WordPress files
app/wp-admin/
app/wp-content/*
!app/wp-content/themes/
app/wp-content/themes/*
app/wp-includes/

# Dont ignore current theme
!app/wp-content/themes/md-starter-theme
app/wp-content/themes/md-starter-theme/vendor
app/wp-content/themes/md-starter-theme/js
app/wp-content/themes/md-starter-theme/app.css

app/.htaccess
app/*.log
app/*.php
app/license.txt
app/readme.html

# Frontend
node_modules

# Stuff
.todo
