{% extends "layouts/default.twig" %}

{% block html_class "fourzerofour" %}

{% block content %}
  <!--Main-->
  <main class="main">
    <!--Section-->
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <p class="title is-1">404</p>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
