{% extends "layouts/base.twig" %}

{% block html_class "fourzerofour" %}

{% block content %}
  <section class="section">
    <div class="container is-fluid">
      <div class="columns">
        <div class="column">
          <p class="title is-1">404</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
