{% extends "layouts/base.twig" %}

{% block body_class "page fourzerofour" %}

{% block content %}
  <section class="section">
    <div class="container is-fluid">
      <div class="columns">
        <div class="column">
          <p class="title is-6">404</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
