{% extends "layouts/base.twig" %}

{% block body_class "home" %}

{% block content %}
  <section class="section">
    <div class="container is-fluid">
      <div class="columns">
        <div class="column">
          <p>
            {{__('Page d’accueil avec les derniers articles du blog mis en avant.', 'md-starter-theme')}}
          </p>
        </div>
      </div>

      <div class="columns">
        {% for post in posts %}
          <div class="column is-4">
            <h2 class="title is-4"><a href="{{post.link}}">{{post.title}}</a></h2>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
