{% extends "layouts/default.twig" %}

{% block html_class "page" %}

{% block content %}
  <section class="section">
    <div class="container is-fluid">
      <div class="columns">
        <div class="column">
          <div class="content is-medium">
            <h1 class="title is-1">{{post.title}}</h1> 
            
            {{post.content}}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}